@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
	background-color: #2C073F; 
	color: #E0E0E0; 
	font-family: "DM Sans";
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	flex-direction: column;
	overflow: hidden;
} 

h1 {
	font-size: 36px;
	margin-bottom: 20px;
	color: #FFFFFF;  /* Texte en blanc */
}

h2 {
	margin-top: 0 !important;
	text-align: center;
	color: #212121;
}

ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style-type: none;
	text-align: center;
	color: #212121;
}

#game-container {
	width: 60%;  /* Ajuster pour avoir plus d'espace */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 80%;
}

#categories-container {
	display: grid;
	grid-template-columns: repeat(4, 160px);
	gap: 10px;
	justify-items: center;
	align-items: center;
	margin: 0 auto;
	margin-bottom: 0px !important;
	transition: opacity 0.5s ease-in-out;
	width: fit-content;
}

#categories-container button {
	background-color: #4B4B4B;  /* Gris foncé pour les boutons */
	border: none;
	color: #E0E0E0;
	font-size: 18px;
	padding: 8px;
	font-weight: 800;
	font-family: "DM Sans";
	cursor: pointer;
	width: 160px;
	height: 105px;
	justify-content: center;
	align-items: center;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease;
	text-align: center;
	border-radius: 15px;
}

#categories-container button.disabled {
	opacity: 0.5;
	pointer-events: none;
	cursor: default !important;
}

#question {
	font-weight: 1000;
	font-family: "DM Sans";
	margin-top: 0px;
	color: #FFFFFF;  /* Texte en blanc */
}

#question-container {
	width: 100%;
	margin: 0 auto;
	animation: fadeIn 1s ease-out;
	text-align: center;
	color: #D3D3D3;  /* Gris clair pour le texte */
}

#question-container p {
	font-size: 20px;
	margin-bottom: 20px;
}

#answers-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	width: 60%;
	margin: 0 auto;
	transition: all 0.3s ease;
}

#answers-container button {
	background-color: #757575;  /* Gris moyen pour les boutons */
	border: none;
	color: white;
	font-size: 16px;
	padding: 15px;
	width: 47%;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease;
	border-radius: 10px;
}

#answers-container button:hover {
	cursor: pointer;
}

#current-player {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 2rem;
	font-weight: 1000;
	font-family: "DM Sans";
	color: #B0B0B0;
	margin-bottom: 20px;
}

.selected {
	background-color: #558ab8 !important;  /* Gris clair pour la sélection */
	cursor: default !important;
	font-weight: 700;
}

.selected-category {
    background-color: rgba(0, 128, 255, 0.3); /* Exemple d'arrière-plan bleu pâle */
    transition: background-color 0.3s ease-out;
}

.correct {
	background-color: #4CAF50 !important;
	cursor: default !important;
	font-weight: 700 !important;
}

.incorrect {
	background-color: #f44336 !important;
	cursor: default !important;
	font-weight: 500 !important;
}

.show-score {
	display: block !important;
}

.disabled {
	opacity: 0.65;
	cursor: default !important;
}

.hidden {
	display: none !important;
	animation: fadeOut 0.5s ease-out forwards;
}

.show {
	display: block !important;
	animation: fadeIn 0.5s ease-out forwards;
}

button.disabled {
	pointer-events: none;
	cursor: default !important;
}

button.selected {
	background-color: #6C757D;
}

button.correct {
	background-color: #4CAF50;
	color: white;
}

button.incorrect {
	background-color: #f44336;
	color: white;
}

#true-button {
    background-color: #4CAF50; /* Vert pour "Vrai" */
}

#false-button {
    background-color: #f44336; /* Rouge pour "Faux" */
}

#score-container {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	width: 110px;
}

#score-container table {
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	width: 100%;
}

#score-container th, #score-container td {
	padding: 5px 20px;
	text-align: center;
}

#score-container th {
	font-size: 20px;
	font-weight: 1000;
	font-family: "DM Sans";
}

#score-container td {
	font-size: 18px;
}

#yes-button:hover,
#no-button:hover,
#validate-button:hover {
	background-color: #495057;
}

#validate-button {
	position: absolute;
	right: 20px;
	top: 50%;
	background-color: #6C757D;
	color: white;
	font-size: 16px;
	height: 48px;
	border: none;
	padding: 15px;
	cursor: pointer;
	border-radius: 10px;
	display: block;
	transition: all 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#yes-button,
#no-button {
	background-color: #6C757D;
	color: white;
	font-size: 16px;
	height: 48px;
	border: none;
	padding: 15px;
	cursor: pointer;
	border-radius: 10px;
	display: block;
	transition: all 0.3s ease;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
	0% { opacity: 0; transform: translateY(20px); }
	100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
	0% { opacity: 1; transform: translateY(0); }
	100% { opacity: 0; transform: translateY(20px); }
}

#categories-container.show {
	opacity: 1;
	visibility: visible;
	display: block;
	transition: opacity 0.5s ease-in-out;
}

#question-container.show {
	opacity: 1;
	display: block;
	transition: opacity 0.5s ease-in-out;
}

#validation-container {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#validation-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
